archive/
results/
notes/
.ipynb_checkpoints
*.swp
.DS_Store
*.pyc
*.sh
*checkpoint
*.sub
pytorch_sbm_sde_vi/python_notebooks/Plots.ipynb
*plot_on_GPU*
*test*
*y_dict*
pytorch_sbm_sde_vi/python_notebooks/Plots_fix_u_M_a_Ea.ipynb
*_CPU*
pytorch_sbm_sde_vi/training_old_arch_SBM_SDE_minibatch.py
*_print*
pytorch_sbm_sde_vi/SCON_no_CO2_flow_GPU_sample.py
pytorch_sbm_sde_vi/SCON_flow_GPU_sample_no_bn.py
pytorch_sbm_sde_vi/python_notebooks/training_pt_outputs/archived_results/
pytorch_sbm_sde_vi/python_notebooks/training_plots/archived_results
